.page{
    display: flex;
    justify-content: center;
    .card{
        width: 1080px;
        .login{
            height: 100vh;
            background-image: linear-gradient(30deg, rgba(0, 140, 255, 0.753) , rgba(64, 224, 208, 0.356));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form{
            background-color: rgba(255, 255, 255);
            padding: 15px;
            gap: 5px;
            display: flex;
            flex-direction: column;
            border-radius: 3%;
            width:220px;
            line-height: 0.7;
            input{
                border:none;
                border-bottom: 1px solid;
                padding: 11px;
            }
        }
        h1{
            margin-bottom: 19px;
            color:rgb(128, 35, 128);
        }
        h2{
            color:rgb(128, 93, 128);
            font-size: 12pt;
        }
        button{
            margin-top: 10px;
            color:white;
            background-color: rgb(134, 70, 134);
            padding: 10px;
            border-style:hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .nav{
            .card{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                .icon{
                    img{
                        height:60px;
                    }
                }
                .links{
                    display:flex;
                    gap: 20px;
                    align-items: center;
                    text-decoration: none;
                    color:inherit;
                    &:hoover{
                        color:green;
                    }   
                }
            }
        }
        .nav-link{
            text-decoration: none;
            color:inherit;  
        }
        .foot{
            margin-top: 100px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            img{
                height: 55px;
            }
        }
        .home{
            .posts{
                size: 180px;
                margin-top:50px;

            
            }
        }
        .post{
            display: flex;
            gap: 50px;
            .content{
                flex: 5;
                img{
                    width:100%;
                    height: 300px;
                    object-fit: cover;
                }  
                .user{
                    display:flex;
                    align-items: center;
                    gap: 10px;
                    .edit{
                        display:flex;
                        gap:5px;
                    }
                }
                h1{
                    color:black;
                }   
                p{
                    text-align: justify;
                }                  
            }
            .menu{
                flex:2
            }
            
        }
        .text{
            
        }
        
    }
}